.innerContainer{
    width:100%;
    background-image:url(../../Assets/HeroBack.png);
    background-repeat:no-repeat;
    background-size:cover;
    padding-top:7rem;
    padding-bottom:17rem;
}

.hero{
    width:45%;
    float:right;
    margin-right:1rem;
}

.hero h2{
    font-family:Lato;
    font-size:30px;
    font-weight:700;
    color:#fff;
}

.hero p{
    font-family:Lato;
    font-size:25px;
    font-weight:500;
    color:#fff;
    width:80%;
}

.line img{
    width:100%;
    margin-bottom:1rem;;
}