.container{
    width:60%;
    margin:auto;
    margin-top:3rem;
    margin-bottom:3rem
}

.sponsor{
    display:flex;
    gap:2rem;
    box-shadow:-4px -4px 4px 0px #0E39970D;
    box-shadow:0px 4px 4px 0px #0E39970D;
    border-radius:7px;
    border:1px solid #0E39970D;
    padding:1rem;
}

.icons{
    display:flex;
    align-items:center;
    gap:0.4rem;
    width:100%;
}

.iconImage{
    width:90%;
}

.iconImage img{
    width:100%;
}

.iconText{
    font-family: Lato;
    font-size: 8px;
    font-weight: 900;
    line-height: 9.6px;
    letter-spacing: 0.15em;
    text-align: left;

}

.iconText h5{
    width:100%;
}

.sponsor2{
    display:flex;
    gap:1rem;
    align-items:center;
    margin-top:3rem;
}

.container p{
    font-family: Lato;
    font-size: 12px;
    font-weight: 300;
    line-height: 14.4px;
    text-align: center;
    padding-top:1rem;
}